.swiper_container {
  padding: 2rem 0;
  position: relative;
}

.swiper-slide.swiper-slide-active p,
.swiper-slide.swiper-slide-active h3,
.swiper-slide.swiper-slide-active button {
  opacity: 1;
}

.swiper-slide.swiper-slide-active img {
  --tw-blur: blur(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controller .swiper-button-prev {
  left: 18% !important;
}

.slider-controller .swiper-button-next {
  right: 18% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: '';
}

.swiper-pagination {
  z-index: 10;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #9B9B87;
  transition: 0.3s ease-in-out;
  width: 20px;
  border-radius: 10px;
}

@media (min-width: 640px) {
  .slider-controller .swiper-button-prev {
    left: 37%;
  }

  .slider-controller .swiper-button-next {
    right: 37%;
  }
}

@media (min-width: 1200px) {
  .slider-controller .swiper-button-prev {
    left: 43%;
  }

  .slider-controller .swiper-button-next {
    right: 43%;
  }
}